@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 43px;
}

.options {
    display: flex;
    align-items: center;
}

.logoName {
    color: #19191B;
    font-size: 36px;
    font-weight: 700;
    margin-left: 10px;
}

.headerLinks {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 27px;
}

.action {
    display: flex;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-right: 2.4rem;
}

a{
    color: #19191B;
    font-weight: 600;
    transition: 0.3s;
}

a:hover {
    color: #5454D4;
}

.logo {
    display: flex;
    align-items: center;                            

}

.action button {
    color: #FFF;
    padding: 13px;
    text-align: center;
    font-weight: 700;
    border-radius: 7px;
    background: linear-gradient(97deg, #5656F2 0%, #3333DC 101.64%);
    box-shadow: 0px 4px 10px 0px #E7E7FB;
    border: none;
    cursor: pointer;
}

.action button:nth-child(3) {
    color: #3939E0;
    border-radius: 7px;
    background: #E7E7FB;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}