@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 43px;
}

.options {
    display: flex;
}

.logoName {
    color: #19191B;
    font-size: 36px;
    font-weight: 700;
    margin-left: 10px;
}

.action {
    display: flex;
}

.navLinks {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

}